* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /*fix the element width*/
  }

  body{
    position: relative;
  }

  
  /* themeColor是variable */
  /*Nested css*/
  header nav {
    width:100%;
    background-color: black;
  }
  
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    /*delete the front dot*/
    padding-left: 0.5rem;
  }
  
  header nav ul li {
    padding: 0.5rem 0.75rem;
  }
  
  header nav ul li a {
    color: #a3a2a2;
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    color: white;
  }
  
header h1{
  background-color: #a3a2a2;
}

  main{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
  }

  main section.left {
    flex: 3 1 700px;
  }
  main section.right{
    flex: 1 1 400px;
  }

  main section.right img{
    height: 100vh;
    width: 35vw;
    padding: 1rem;
    object-fit: cover;
  }
  
  footer img{
    width: 75px;
    height: 75px;
    object-fit:cover;
    margin: 1.5rem;
  }

  main h1{
    color:rgb(255, 185, 80);
  }

  header nav{
    font-size: 1.25rem;
  }

.active{
    
    color: #fcf8f8;
  }

main section a{
  text-decoration: none;
  color:black;
}

footer h2{
  color:rgb(255, 185, 80);
  margin-left: 1rem;
}


  @media screen and (max-width:1100px){
    main section.right{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
    }

    main section.right img{
      position: static;
      transform:none;
      height: 50vh;
      width:80vw;
    }

    main section.left {
      width:100vw;
    }

    header nav ul{
      display: flex;
      flex-direction: column;
    }

    footer img{
      width: 50px;
      height: 50px;
      object-fit:cover;
      margin: 1rem;;
    }

  }