* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /*fix the element width*/
  }

  header nav {
    width:100%;
    background-color: black;
  }
  
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    /*delete the front dot*/
    padding-left: 0.5rem;
  }
  
  header nav ul li {
    padding: 0.5rem 0.75rem;
  }
  
  header nav ul li a {
    color: #a3a2a2;
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    color: white;
  }

  header nav{
    font-size: 1.25rem;
  }

header h1{
    background-color: #a3a2a2;
}

main section{
  margin: 2rem;
  align-items: center;
  text-align: center;
}
  
.active{
    
    color: #fcf8f8;
  }

picture .p3{
  width: 45%;
  height: 30%;
  margin:1rem;
}

picture .p4{
  width: 45%;
  height: 30%;
  margin:1rem;
}

picture .fp{
  width: 20%;
  height: 35%;
  margin: 1rem;
}


  @media screen and (max-width:1100px){
    header nav ul{
        display: flex;
        flex-direction: column;
      }

      picture .p3{
        width: 80%;
        height: 60%;
        margin:1rem;
      }
      
      picture .p4{
        width: 80%;
        height: 60%;
        margin:1rem;
      }
      
      picture .fp{
        width: 45%;
        height: 70%;
        margin: 1rem;
      }

    
  }